<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.5DownloadAssets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D0D3BE81C9E2D2100111F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0D3BFC1C9E2D2100111F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0D3C071C9E2D2100111F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
